* {
    box-sizing: border-box;
}

.post-body p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: 1.5;
}

div.showimg {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #d3d3d3;
}

div.showimg img {
  display: block;
  height: 400px;
  margin: auto;
  border: none;
}

.minecraft-chat-box{
  background: rgba(1,1,1,.7);
  padding: 2px 0 2px 5px;
  border-radius: .2em;
}
